*.csv
data/
*.rds
*.txt
*.xlsx
*.fam
hesin_diag.txt
hesin.txt
*.fam
*.bim
*.bed
xuyi/ibd/
*.sh
*.sh.e*
*.sh.o*
*cores.e*
*cores.o*
*core.e*
*core.o*
*.Rhistory
*.fam
*.bim
*.bed
*.txt
xin/gwas_learn/v1/
xin/gwas_learn/v2/
*.png
